# dependencies
/node_modules
/Frontend/node_modules
/Backend/Config.env
/Frontend/.pnp
/Frontend/.pnp.js

/Frontend/coverage

/build

/Frontend/build

/Frontend/.DS_Store
/Frontend/.env
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
